<html>

    <body>
        <div th:fragment="mainHeader">
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
            <script src="/webjars/bootstrap/js/bootstrap.bundle.min.js"></script>
            <script src="https://kit.fontawesome.com/fd77361902.js" crossorigin="anonymous"></script>

            <script src="/webjars/jquery/jquery.min.js"></script>
            <link rel="stylesheet" href="/webjars/jquery-ui/jquery-ui.css">
            <script src="/webjars/jquery-ui/jquery-ui.min.js"></script>

            <link rel="stylesheet" href="/css/main.min.css">
            <script th:src="@{/js/getGames.js} "></script>
        </div>

        <nav class="col-auto col-sm-3 col-lg-2 bg-light p-0" th:fragment="sidebar">
            <div class="row flex-column sticky-top vh-100 p-3">
                <div class="col">
                    <img class="d-none d-sm-inline pb-3" src="/img/Logo.svg" alt="GameInn logo">
                    <img class="d-inline d-sm-none align-items-center pb-3" id="favicon" src="/img/favicon.svg" alt="GameInn logo">
                    <ul class="nav flex-column align-items-center align-items-sm-stretch">
                        <li class="nav-item" sec:authorize="!isAnonymous()">
                            <a class="nav-link px-0 py-2" th:href="@{/profile/{sub}(sub=${user.getSubId()})}">
                                <i class="fas fa-home"></i></i> <span class="ms-1 d-none d-sm-inline">Profile</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link px-0 py-2" th:href="@{/groupfinders}">
                                <i class="fas fa-users"></i></i> <span class="ms-1 d-none d-sm-inline">Group Finder</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link px-0 py-2" th:href="@{/clips}">
                                <i class="far fa-play-circle"></i> <span class="ms-1 d-none d-sm-inline">Clips</span>
                            </a>
                        </li>
                        <li class="nav-item" sec:authorize="!isAnonymous()">
                            <a class="nav-link px-0 py-2" th:href="@{/logout}">
                                <i class="fas fa-sign-out-alt"></i> <span class="ms-1 d-none d-sm-inline">Logout</span>
                            </a>
                        </li>
                        <li class="nav-item" sec:authorize="isAnonymous()">
                            <a class="nav-link px-0 py-2" href="/oauth2/authorization/auth0">
                                <i class="fas fa-sign-in-alt"></i> <span class="ms-1 d-none d-sm-inline">Login</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <small class="d-none d-sm-inline col-auto mt-auto">Copyright &copy; 2021 GameInn</small>
            </div>
        </nav>
    </body>

</html>