.Center{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
}
#p-2{
    position: fixed;
    top: -25%;
    width: 150px;
    height: 30px;
    background: #ffffff;
    margin-top: 2px;
    margin: 2px;
    
}
#mx-auto{
    position: relative;
    left: 84%;
    width: 100px;
    height: 30px;
    background: #ffffff;
    margin-top: 2px;
    margin: 2px;
}