/*table */
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.table1 {
    width: 100%;
    background: #ffffff;
}

.table1 th, .table1 td {
    padding: 0.5rem
}

.table1 thead {
    background: #C0C0C0;
}