body {
    background-color: #E5E5E5;
}

#favicon {
    min-width: 32px;
}

.nav-link {
    display: block;
    text-decoration: none;
    font-size: 1.25rem;
    color: black;
}

.nav-link:focus, .nav-link:hover {
    color: #7063F8;
}

.content {
    width: 75%;
    margin: auto
}

.buttons, .post-header {
    display: flex;
    align-items: center;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}

.search button {
    float: right;
    padding: 6px 10px;
    background: #ddd;
    border: none;
    cursor: pointer;
}

.search button:hover {
    background: #ccc;
}

.page-num {
    text-align: center;
}

.ui-autocomplete {
    max-height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 5px;
}

.btn {
    background-color: #7063F8;
    color: #ffffff;
    border: 1px solid #7063F8;
}

.btn:hover {
    background-color: #ffffff !important;
    color: #7063F8 !important;
}

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 1rem;
    }

    .sidebar a {
        font-size: 1.125rem;
    }
}