body {
    background-color: #E5E5E5;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    box-shadow: inset -1px 0 0 rgb(0 0 0 / 10%);
}

.nav-link {
    display: block;
    text-decoration: none;
    font-size: 1.25rem;
    color: black;
}

.nav-link:focus, .nav-link:hover {
    color: #7063F8;
}

.footer {
    position: absolute;
    bottom: 0;
    padding-bottom: 0.75rem
}

.ui-autocomplete {
    max-height: 250px;
    max-width: 250px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 5px;
}

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 1rem;
    }

    .sidebar a {
        font-size: 1.125rem;
    }
}