<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <div th:insert="fragments/common :: mainHeader"></div>
    <link rel="stylesheet" href="/css/QuePage.css">
    <link rel="stylesheet" href="/css/link2CSS.css">
    <title>Add GroupFinder</title>
</head>

<body>
    <div class="row">
        <div th:replace="fragments/common :: sidebar"></div>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">


            <h2 class="pl-5 mb-3 m-5">Add GroupFinder</h2>

            <div class="Center3">

                <form action="#" th:action="@{/groupfinders/{sub}/addEdit/add(sub=${user.getSubId()})}" th:object="${groupFinder}" method="post">

                    <div>
                        <label for="gameTitle">Game title:</label>
                        <div class="col-sm-10">
                            <input id="gameTitle" type="text" class="form-control border border-dark" th:field="*{gameTitle}" placeholder="Game Title" required>
                        </div>
                    </div>

                    <div>
                        <label for="title">Post title:</label>
                        <div class="col-sm-10">
                            <input id="title" type="text" class="form-control border border-dark" th:field="*{title}" placeholder="Title" required>
                        </div>
                    </div>

                    <div>
                        <!-- <label for="RequiredLevel">Required Level:</label>
                        <select id="RequiredLevel" class="form-control border border-dark" th:field="*{requiredLevel}" placeholder="Title" required>
                            <option value="select">Select</option>
                            <option value="0">Any</option>
                            <option value="1">Beginner</option>
                            <option value="2">Intermediate</option>
                            <option value="3">Expert</option>
                        </select> -->
                        <label for="RequiredLevel">Required Level:</label>
                        <select name="requiredLevel">
                            <option th:each="level : ${T(com.cmpt276.gameinn.constant.EnumCollection.RequiredLevel).values()}" th:value="${level}" th:text="${level}">
                            </option>
                        </select>
                    </div>


                    <div>
                        <label for="gameStyle">Game Style:</label>
                        <!-- <select id="gameStyle" class="border border-dark p-1">
                            <option value="Select">Select</option>
                            <option value="Casual">Casual</option>
                            <option value="Profesional">Profesional</option>
                        </select> -->
                        <select name="gameStyle">
                            <option th:each="style : ${T(com.cmpt276.gameinn.constant.EnumCollection.GameStyle).values()}" th:value="${style}" th:text="${style}">
                            </option>
                        </select>
                    </div>

                    <div>
                        <label for="totalPlayers">Total number of players:</label>
                        <input type="number" min="1" th:field="*{totalPlayers}" class="form-control" id="totalPlayers" placeholder="Total players" required>
                    </div>

                    <div>
                        <label for="password" class="ml-3">Password:</label>
                        <!-- <input type="password" id="ip5" class="border border-dark p-1"> -->
                        <input type="text" th:field="*{password}" class="form-control" id="password" placeholder="Password">
                    </div>

                    <div>
                        <label id="des" for="description">Description:</label>
                        <textarea type="text" th:field="*{description}" class="form-control" id="description" placeholder="Description" cols="60" rows="7" required></textarea>
                    </div>

                    <div class="row">
                        <input id="createButton" type="submit" class="add-groupfinder" value="Add">
                    </div>
                </form>
            </div>
        </main>
    </div>

</body>

</html>