<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

    <head>
        <div th:replace="fragments/common :: mainHeader"></div>
        <title>API Test</title>
    </head>

    <body>
        <div class="container-fluid">
            <div class="row flex-nowrap">
                <div th:replace="fragments/common :: sidebar"></div>

                <main class="col-sm-9 ms-sm-auto col-lg-10 flex-shrink-1 px-md-4">
                    <input type="text" id="gameTitle" name="gameTitle" placeholder="search">
                </main>
            </div>
        </div>
    </body>

</html>