<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

    <head>
        <div th:insert="fragments/common :: mainHeader"></div>
        <title>API Test</title>
    </head>

    <body>
        <div class="row">
            <div th:replace="fragments/common :: sidebar"></div>

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <input type="text" id="gameTitle" name="gameTitle" placeholder="search">
            </main>
        </div>
        <script th:src="@{/js/getGames.js} "></script>
    </body>

</html>