<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <div th:replace="fragments/common :: mainHeader"></div>
    <link rel="stylesheet" href="/css/groupfinder_detail.css">
    <script th:src="@{/js/option_button.js} "></script>
    <script th:src="@{/js/comment.js} "></script>
    <title>form</title>
</head>
</head>

<body>
    <div class="row">
        <div th:replace="fragments/common :: sidebar"></div>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="back-button">
                <a th:href="@{/groupfinders/{sub}(sub=${user.getSubId()})}" class="btn groupfinder-button float-start" role="button" aria-pressed="true">Back to list</a>
            </div>

            <div class="groupfinder-info" th:switch="${groupFinder}">
                <div class="groupfinder-title">
                    <h1 th:text="${groupFinder.getTitle()}"></h1>
                </div>

                <div class="groupfinder-badge">
                    <span class="p-1 badge badge-light border" th:text="${groupFinder.getGameTitle()}"></span>
                    <span class="p-1 badge badge-light border" th:text="${groupFinder.getRequiredLevel()}"></span>
                    <span class="p-1 badge badge-light border" th:text="${groupFinder.getGameStyle()}"></span>
                    <span class="p-1 badge badge-light border" th:text="${groupFinder.getStatus()}"></span>
                </div>

                <div class="number-currentplayer">
                    <i id="mx-auto" class="p-3 mx-auto fas fa-users">
                            <sup th:text="${groupFinder.getCurrentPlayers()}">1</sup>&frasl;<sub th:text="${groupFinder.getTotalPlayers()}">2</sub>
                        </i>
                </div>

                <textarea class="groupfinder-description" rows="15" cols="80" th:text="${groupFinder.getDescription()}" readonly></textarea>

                <!-- Join will be availble next iteration -->
                <div class="buttons">
                    <!-- <div class="join-button">
                        <a th:href="#" class="btn groupfinder-button float-start" role="button" aria-pressed="true">Join</a>
                    </div> -->
                    <!-- This button is for writer of this post -->
                    <div class="delete-button" id="deleteButton">
                        <a th:href="@{/groupfinders/{sub}/delete/{id}(sub=${user.getSubId()}, id=${groupFinder.getId()})}" class="btn groupfinder-button float-start" role="button" aria-pressed="true">Delete</a>
                    </div>
                    <script th:inline="javascript">
                        /*<![CDATA[*/
                        var sub = /*[[${user.getSubId()}]]*/ '';
                        var groupFinder_sub = /*[[${groupFinder.getUser().getSubId()}]]*/ '';
                        var role = /*[[${user.getRole()}]]*/ '';
                        var id = '#deleteButton';
                        display_button(id, sub, groupFinder_sub, role)
                            /*]]>*/
                    </script>
                </div>
            </div>

            <form id="create_comment_form" action="#" th:action="@{/comments/{sub}/{groupfinderId}/add(sub=${user.getSubId()}, groupfinderId=${groupFinder.getId()})}" th:object="${commentCreate}" method="post">
                <div>
                    <label for="level">Select your Level:</label>
                    <select name="level">
                            <option th:each="level_option : ${T(com.cmpt276.gameinn.constant.EnumCollection.RequiredLevel).values()}" th:value="${level_option}" th:text="${level_option}">
                            </option>
                    </select>
                </div>
                <div>
                    <label id="content" for="content">Comments:</label>
                    <textarea type="text" th:field="*{content}" class="form-control" id="description" placeholder="Description" cols="58" rows="3" required></textarea>
                </div>
                <input id="addComment" type="submit" value="Submit" />
            </form>

            <div th:each="comment_content : ${comments}">
                <img class="user-photo rounded-circle me-2" th:src="${comment_content.getUser().getPicture()}" />
                <p>
                    <span th:text="${comment_content.getUser().getName()}" th:remove="tag">Name</span> | <span th:id="'time' + ${comment_content.getId()}"></span>
                </p>
                <script th:inline="javascript">
                    /*<![CDATA[*/
                    var posted_time = /*[[${comment_content.getPostedTime().getTime()}]]*/ '';
                    var content_id = /*[[${comment_content.getId()}]]*/ '';
                    var id = 'time' + content_id;
                    document.getElementById(id).innerHTML = display_diff_time(posted_time);
                    /*]]>*/
                </script>
                <div>
                    <p th:text="${comment_content.getLevel()}"></p>
                    <p th:text="${comment_content.getContent()}"></p>
                </div>
            </div>

        </main>
    </div>
</body>

</html>