<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/BackToQueue.css">
</head>
<body>
    <div class="Center">
    <header>
        <button id="p-2" type="button" >Back to Queues</button>
    </header>
    <h1>StartCraft2 1vs1</h1>
    <div>
    <span class="p-1 badge badge-light border">Startcraft2</span>
    <span class="p-1 badge badge-light border">Export</span>
    <span class="p-1 badge badge-light border">Professional</span>
    <span class="p-1 badge badge-light border">Public</span>
</div>
<div>
<i id="mx-auto" class="p-3 mx-auto fas fa-users"> 1/2</i>
</div>
<textarea rows="10" cols="60"></textarea>
<div><button id="mx-auto" type="button" >Join</button></div>
</div>
</body>
</html>