<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <div th:insert="fragments/common :: mainHeader"></div>
    <link rel="stylesheet" href="/css/list.css" />
    <title> List Page </title>
</head>

<body>
    <div class="row">
        <div th:replace="fragments/common :: sidebar"></div>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="buttons">
                <button id="addQueue">Add Queue</button>
                <form class="search" action="#">
                    <input type="text" placeholder="Search.." name="search">
                    <button type="submit"><i class="fas fa-search"></i></button>
                </form>
            </div>


            <!--Table Content-->
            <div>
                <br> <br> <br>
                <table class="table1">
                    <tr>
                        <th> Title </th>
                        <th> Game </th>
                        <th> UserName </th>
                        <th> Status </th>
                        <th> Number of Players </th>
                    </tr>

                    <tr>
                        <th> Among US 10 players </th>
                        <th> Among US </th>
                        <th> June Kwak </th>
                        <th> Public </th>
                        <th> 1/10 </th>
                    </tr>


                    <tr>
                        <th> League of legends 5vs5 stream </th>
                        <th> League of legends </th>
                        <th> Thomas Johnson </th>
                        <th> Private </th>
                        <th> 7/10 </th>
                    </tr>

                    <tr>
                        <th> Wow raid expert </th>
                        <th> World of Warcraft </th>
                        <th> Jeremy Yankins </th>
                        <th> Public </th>
                        <th> 13/20 </th>
                    </tr>

                </table>


            </div>

            <p style="text-align:center;">
                < &nbsp; <u> 1 </u> &nbsp; >
            </p>

            <br> <br>
            <p> PS. These are dummy values! We will update the page in the next iteration with functions. </p>
        </main>
    </div>
</body>

</html>