
#NextButton{
    float: right;
    box-shadow:10px 10px 10px 0 black;
}
h2{
    margin: 50px 0px 0px 400px;

}
#formStyle{
    align-items: center;
    display: block;
    border-color: black;
    border-width: 0.15em;
    border-style: solid;
    margin: 100px 20px 100px 400px;
    padding: 100px;
    width: 40%;
    height: 10%;
    box-sizing: border-box;
    font-size: 12px;
}
