<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

    <head>
        <div th:replace="fragments/common :: mainHeader"></div>
        <link rel="stylesheet" href="/css/profile.css">
        <title>User Profile</title>
    </head>

    <body>
        <div class="container-fluid">
            <div class="row flex-nowrap">
                <div th:replace="fragments/common :: sidebar"></div>

                <main class="col-sm-9 ms-sm-auto col-lg-10 flex-shrink-1 px-md-4">
                    <div class="content mt-5 mb-4">
                        <h1 class="mb-4">User Profile</h1>

                        <form action="#" th:action="${url}" th:object="${profile}">
                            <div class="row flex-column align-items-center mb-4 g-3">
                                <div class="col-auto">
                                    <input type="image" id="img" th:src="*{picture}" alt="file" class="rounded-circle d-block" />
                                </div>

                                <div class="col-auto">
                                    <span class="ml-3 mt-5 pt-4" id='name' th:text="*{name}"></span>
                                </div>

                                <div class="col-auto">
                                    <span id="admin-tag" class="badge rounded-pill bg-secondary"></span>
                                </div>

                                <div class="col-auto align-self-end ms-auto g-3" sec:authorize="!isAnonymous()" th:if="${profile.getSubId() == user.getSubId()}">
                                    <button type="submit" class="btn" id="editProfile">Edit Profile</button>
                                </div>

                                <script th:inline="javascript">
                                    /*<![CDATA[*/
                                    var role = /*[[${user.getRole()}]]*/ '';
                                    load_admin_tag(role);
                                    /*]]>*/
                                </script>
                            </div>

                            <div class="row row-cols-1 g-3 mb-4">
                                <div class="col">
                                    <label cid="textareatext" for="about" class="form-label">About me:</label>
                                    <textarea class="form-control border border-dark bg-white user-description" id='about' th:field="*{about}" readonly></textarea>
                                </div>
                            </div>

                            <div class="mb-4" sec:authorize="!isAnonymous()" th:if="${profile.getSubId() == user.getSubId()}">
                                <label for="email">Email:</label>
                                <span id="email" th:text="*{email}"></span>
                            </div>

                            <!-- <div>
                            <label for="fixedP">Password:</label>
                            <input class="ml-3 border border-dark" id='fixedP' type="password" required>
                        </div> -->

                            <!-- <div>
                            <label for="fixedRP">Re-enter Password:</label>
                            <input class="ml-1 border border-dark" id='fixedRP' type="password" required>
                        </div> -->

                            <div class="row row-cols-md-2 g-3">
                                <div class="col-md d-flex align-items-center">
                                    <i class="fab fa-facebook fa-2x pe-2"></i>
                                    <a class="social facebook" th:href="@{https://www.facebook.com/{facebook}(facebook=${profile.getFacebook()})}" th:text="*{facebook}">Facebook</a>
                                </div>

                                <div class="col-md d-flex align-items-center">
                                    <i class="fab fa-twitter fa-2x pe-2"></i>
                                    <a class="social twitter" th:href="@{https://twitter.com/{twitter}(twitter=${profile.getTwitter()})}" th:text="*{twitter}">Twitter</a>
                                </div>

                                <div class="col-md d-flex align-items-center">
                                    <i class="fab fa-discord fa-2x pe-2"></i>
                                    <span class="social discord" th:text="*{discord}">Discord</span>
                                </div>

                                <div class="col-md d-flex align-items-center">
                                    <i class="fab fa-guilded fa-2x pe-2"></i>
                                    <span class="social guilded" th:text="*{guilded}">Guilded</span>
                                </div>

                                <div class="col-md d-flex align-items-center">
                                    <i class="fab fa-twitch fa-2x pe-2"></i>
                                    <a class="social twitch" th:href="@{https://www.twitch.tv/{twitch}(twitch=${profile.getTwitch()})}" th:text="*{twitch}">Twitch</a>
                                </div>

                                <div class="col-md d-flex align-items-center">
                                    <i class="fab fa-youtube fa-2x pe-2"></i>
                                    <a class="social youtube" th:href="@{{youtube}(youtube=${profile.getYoutube()})}" th:text="*{youtube_name}">YouTube</a>
                                </div>

                                <div class="col-md d-flex align-items-center">
                                    <i class="fab fa-steam fa-2x pe-2"></i>
                                    <span class="social steam" th:text="*{steam}">Steam</span>
                                </div>

                                <div class="col-md d-flex align-items-center">
                                    <i class="fab fa-xbox fa-2x pe-2"></i>
                                    <span class="social xbox" th:text="*{xbox}">Xbox</span>
                                </div>

                                <div class="col-md d-flex align-items-center">
                                    <i class="fab fa-playstation fa-2x pe-2"></i>
                                    <span class="social psn" th:text="*{psn}">PSN</span>
                                </div>

                                <div class="col-md d-flex align-items-center">
                                    <i class="fab fa-battle-net fa-2x pe-2"></i>
                                    <span class="social battle_net" th:text="*{battle_net}">Battle.net</span>
                                </div>
                            </div>
                        </form>
                    </div>
                </main>
            </div>
        </div>
    </body>

</html>