<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>GameInn</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <script th:src="@{/js/auth_login.js} "></script>
</head>

<body>
    <div sec:authorize="!isAuthenticated()">
        <p id="not_authenticated"></p>
        <script th:inline="javascript">
            load_login_page();
        </script>
    </div>
    <div sec:authorize="isAuthenticated()">
        <p>Profile here</p>
        <img id="user-photo" src="" />

        <script th:inline="javascript">
            /*<![CDATA[*/
            var profile = JSON.parse(localStorage.getItem("profile"));
            /*]]>*/
            var photo_url = profile["picture"];
            document.getElementById('user-photo').src = photo_url;
        </script>
    </div>
</body>

</html>