<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

    <head>
        <div th:replace="fragments/common :: mainHeader"></div>
        <link rel="stylesheet" href="/css/profile.css">
        <title>User Profile</title>
    </head>

    <body>
        <div class="container-fluid">
            <div class="row flex-nowrap">
                <div th:replace="fragments/common :: sidebar"></div>

                <main class="col-sm-9 ms-sm-auto col-lg-10 flex-shrink-1 px-md-4">
                    <div class="content">
                        <h1 class="mb-4 mt-5">User Profile</h1>

                        <form th:object="${user}">
                            <div class="row row-nowrap mb-4">
                                <div class="col">
                                    <input type="image" id="img" th:src="${profile.getPicture()}" alt="file" class="rounded-circle" />
                                </div>

                                <div class="col">
                                    <span class="ml-3 mt-5 pt-4" id='name' th:text="${profile.getName()}"></span>
                                </div>

                                <div class="col ms-auto">
                                    <button class="btn">Edit Profile</button>
                                </div>
                            </div>

                            <div class="mb-4">
                                <label id="textareatext" for="textarea">About me:</label>
                                <textarea class="ml-3 border border-dark user-description" id='textarea' name="desc" cols="25" rows="3"></textarea>
                            </div>

                            <div class="mb-4" sec:authorize="!isAnonymous()">
                                <div th:if="${profile.getSubId() == user.getSubId()}">
                                    <label for="email">Email:</label>
                                    <span id="email" th:text="${profile.getEmail()}"></span>
                                </div>
                            </div>

                            <!-- <div>
                            <label for="fixedP">Password:</label>
                            <input class="ml-3 border border-dark" id='fixedP' type="password" required>
                        </div> -->

                            <!-- <div>
                            <label for="fixedRP">Re-enter Password:</label>
                            <input class="ml-1 border border-dark" id='fixedRP' type="password" required>
                        </div> -->

                            <div class="row row-cols-sm-2 g-3">
                                <div class="col-sm">
                                    <i class="fab fa-facebook fa-2x"></i>
                                    <a href="#" th:text="${profile.getFacebook()}">Facebook</a>
                                    <input type="text" class="d-none" th:field="*{facebook}">
                                </div>

                                <div class="col-sm">
                                    <i class="fab fa-twitter fa-2x"></i>
                                    <a href="#" th:text="${profile.getTwitter()}">Twitter</a>
                                    <input type="text" class="d-none" th:field="*{twitter}">
                                </div>

                                <div class="col-sm">
                                    <i class="fab fa-discord fa-2x"></i>
                                    <a href="#" th:text="${profile.getDiscord()}">Discord</a>
                                    <input type="text" class="d-none" th:field="*{discord}">
                                </div>

                                <div class="col-sm">
                                    <i class="fab fa-guilded fa-2x"></i>
                                    <a href="#" th:text="${profile.getGuilded()}">Guilded</a>
                                    <input type="text" class="d-none" th:field="*{guilded}">
                                </div>

                                <div class="col-sm">
                                    <i class="fab fa-twitch fa-2x"></i>
                                    <a href="#" th:text="${profile.getTwitch()}">Twitch</a>
                                    <input type="text" class="d-none" th:field="*{twitch}">
                                </div>

                                <div class="col-sm">
                                    <i class="fab fa-youtube fa-2x"></i>
                                    <a href="#" th:text="${profile.getYoutube()}">YouTube</a>
                                    <input type="text" class="d-none" th:field="*{youtube}">
                                </div>

                                <div class="col-sm">
                                    <i class="fab fa-steam fa-2x"></i>
                                    <a href="#" th:text="${profile.getSteam()}">Steam</a>
                                    <input type="text" class="d-none" th:field="*{steam}">
                                </div>

                                <div class="col-sm">
                                    <i class="fab fa-xbox fa-2x"></i>
                                    <a href="#" th:text="${profile.getXbox()}">Xbox</a>
                                    <input type="text" class="d-none" th:field="*{xbox}">
                                </div>

                                <div class="col-sm">
                                    <i class="fab fa-playstation fa-2x"></i>
                                    <a href="#" th:text="${profile.getPsn()}">PSN</a>
                                    <input type="text" class="d-none" th:field="*{psn}">
                                </div>

                                <div class="col-sm">
                                    <i class="fab fa-battle-net fa-2x"></i>
                                    <a href="#" th:text="${profile.getBattle_net()}">Battle.net</a>
                                    <input type="text" class="d-none" th:field="*{battle_net}">
                                </div>
                            </div>
                        </form>
                    </div>
                </main>
            </div>
        </div>
    </body>

</html>