<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

    <head>
        <div th:insert="fragments/common :: mainHeader"></div>
        <title>QueuePage</title>
    </head>

    <body>
        <div class="row">
            <div th:replace="fragments/common :: sidebar"></div>

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <h2 id="h2">Create Queue</h2>

                <form id="formStyle2" action="#" method="post">
                    <div class="form-group">
                        <label for="ip1">Game Title:</label>
                        <input id="ip1" type="text" placeholder="Search">
                    </div>


                    <div class="form-group">
                        <label for="ip2">Queue Title:</label>
                        <input type="text" id="ip2">
                    </div>


                    <div class="form-group">
                        <label for="RequiredLevel">Required Level:</label>
                        <select id="RequiredLevel">
                            <option value="select">Select</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>

                        </select>
                    </div>


                    <div class="form-group">
                        <label for="ip3">Game Style:</label>
                        <select id="ip3">
                            <option value="Select">Select</option>
                            <option value="Casual">Casual</option>
                            <option value="Profesional">Profesional</option>
                        </select>
                    </div>



                    <div class="form-group">
                        <label for="ip4">Number Of Players:</label>
                        <input type="number" min="1" max="10" id="ip4">
                    </div>

                    <div>
                        <input class="form-check-input" type="radio" name="exampleRadios1" id="Radios1" value="option1">
                        <label id="tab1" class="form-check-label" for="Radios1">public</label>
                        <input class="form-check-input" type="radio" name="exampleRadios2" id="Radios2" value="option2">
                        <label id="tab2" class="form-check-label" for="Radios2">private</label>
                        <label id="tab3" for="ip5">Password:</label>
                        <input type="password" id="ip5">

                    </div>

                    <div>
                        <label id="des" for="description">Description:</label>
                        <textarea name="description" id="description" cols="50" rows="7"></textarea>
                    </div>


                    <button id="createButton" type="submit" class="btn btn-light">Create</button>
                </form>
            </main>
    </body>

</html>