<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="UserProfilePage.CSS">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>User Profile Page</title>
</head>
<body>

    <h1 id="userP">User Profile</h1>

    <form id="fix">
        <input type="image" id="img" src="http://via.placeholder.com/110x110" alt="file"/>
        <a id='name' href="url">June Kwak</a>

        <button id="edit" type="submit" class="btn btn-light">Edit Profile</button>

            <div>
                <label id="textareatext" for="textarea">About me:</label>
                <textarea id='textarea' name="desc" cols="25" rows="3"></textarea>
            </div>

            <div>
        <label for="fixedE">Email:</label>
        <input id='fixedE' type="email" placeholder="a.a@.com" required>
    </div>

    <div>
        <label for="fixedP">Password:</label>
        <input id='fixedP' type="password" required>
    </div>

    <div>
        <label for="fixedRP">Re-enter Password:</label>
        <input id='fixedRP' type="password" required>
    </div>

    <div class="container">
        <div class="row">
<div class="col">
    <a href="#" class="fa fa-facebook"></a>
    <a href="url">www.facebook.com</a>
</div>

<div class="col">
    <a href="#" class="fa fa-twitter"></a>
    <a href="url">https://twitter.com</a>
</div>

<div class="w-100"></div>

<div class="col">
    <a href="#" class="fa fa-twitch"></a>
    <a href="url">https://www.twitch.tv</a>
</div>

<div class="col">
    <a href="#" class="fa fa-steam"></a>
    <a href="url">https://store.steampowered.com</a>
</div>

<div class="w-100"></div>
    <div class="col">
    <a href="#" class="fa fa-youtube"></a>
    <a href="url">https://www.youtube.com</a>
</div>

<div class="col">
    <a href="#" class="fa fa-reddit"></a>
    <a href="url">https://www.reddit.com</a>
</div>

<div class="w-100"></div>

<div class="col">
    <a href="#" class="fa fa-instagram"></a>
    <a href="url">https://www.instagram.com</a>
</div>

<div class="col">
    <a href="#" class="fa fa-skype"></a>
    <a href="url">https://www.skype.com/en</a>
</div>

</div>
</div>
</form>
</body>
</html>
